

# Database Configuration
DB_HOST= XXXXXXXXXX.mutevazipeynircilik.com
DB_PORT=5432
DB_NAME=mutevazi_customers
DB_USER=
DB_PASSWORD=


# Redis Configuration
REDIS_URL=redis://:<redis_password_here>@cache.<domain_name_here>:6379

# JWT Secret
JWT_SECRET=""

# Stripe API Keys
STRIPE_PUB_KEY=
STRIPE_SEC_KEY=
STRIPE_RES_KEY=


# SendGrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET_NAME=

# API Keys
INTERNAL_API_KEY=
EXTERNAL_PARTNER_API_KEY=

# Session Secret
SESSION_SECRET=
